

.body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 100%;
}

.navbar {
    background-color: #02101f;
    color: #fff;
}

.navbar-brand {
    font-weight: bold;
    font-size: 28px;
    margin-right: 50px;
    color: #fff;
}

.navbar-brand:hover {
    color: #f5f5f5;
}	

.form-control {
width: 700px;
height: 75px; 
padding: 20px;

}

.form-group-label{

font-size: 14px;
font-weight: bold;
}


.nav-link {
color: #fff;
font-weight: bold;
font-size: 15px;
}

.sidebar {
background-color: #02101f;
color: #fff;
height: 100vh;
padding: 10px;
margin-right: 30px;
}

.sidebar .nav-link {
color: #fff;
}

.sidebar .nav-link:hover {
color: #0ef;
transition: .2s;
}

.sidebar .nav-link.active {
color: #0ef;
font-size: 17px;
translate: 0.2s; 
}
 
  /* Style the card */
  .card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin: 20px;    
    width: 1000px;
    height: auto;
  }
  
  /* Style the card header */
  .card-header {
    background-color: #02101f;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    padding: 15px;
    /* border-radius: 15px; */
    
  }
  
  /* Style the card body */
  .card-body {
    padding: 20px;
  }
  
  /* Style the list group */
  .list-group {
    margin: 5px;
  }
  
  /* Style the list group items */
  .list-group-item {
    background-color: #f8f9fa;
    padding: 20px;
    margin: 1px; 
  }
  
  .list-group-item:hover {
    background-color: #e9ecef;
  }
  
  .btn {
    display: inline-block;
    padding: 8px 20px;
    background: #02101f;
    border-radius: 10px;
    box-shadow: 0 0 5px #02182f;
    font-size: 12px;
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: bold;
    border-color: #02182f;
    transition: background-color 0.9s ease, color 0.3s ease;
}

.btn2 {
  display: inline-block;
  padding: 8px 20px;
  background: #0ef;
  border-radius: 10px;
  box-shadow: 0 0 5px #0ef;
  font-size: 12px;
  color: #000000;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: bold;
  border-color: #0ef;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-left: 780px;
}

.btn2:hover {
  background-color: #02101f;
  color: #0ef;
  font-weight: bold;
  transform: translateY(-1px);
  border-color: #02101f;
}
  
  .btn-primary:hover {
    background-color: #02101f;
    color: #0ef;
    font-weight: bold;
    transform: translateY(-1px);
    border-color: #02101f;
  }

  .subject-label{
    font-weight: bold;
    /* font-style: italic; */
    font-size: 17px;
  }

  .mb-0{
    font-size: 12px;
    font-family: 'Lucida Sans Unicode'; 
    /* 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  }

.footer {
/* position: absolute; */
bottom: 0;
width: 100%;
height: 60px;
line-height: 60px;
background-color: #f8f9fa;
text-align: center;
}
